.footerContainer{
  padding-top:$big-spacing;
  padding-bottom:$big-spacing;
  &__basicInfo{
    @include span-columns(4);

  }

  &__address{
    text-align:center;
    
    img{
      max-width:70%;
    }

  }

  &__kando{
    @include span-columns(4);
    text-align:center;

    img{
      max-width:40%;
    }
  }

  &__copyright{
    @include span-columns(4);
    text-align:center;
  }

  @include media($medium-screen-up){
    &__basicInfo{
      @include span-columns(2);

    }


    &__kando{
      @include span-columns(2);
      @include omega;

    }

    &__kando{
    }

    &__copyright{
      @include span-columns(4);
    }

  }
}

